<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{Adminbase::layout(~{::main})}">
<body>
<main class="container my-4">
    <h2 class="text-center text-primary mb-4">Student Feedback Detail</h2>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ans : ${answers}">
            <td th:text="${ans.question.questionText}"></td>
            <td th:text="${ans.answer}"></td>
        </tr>
        </tbody>
    </table>

    <a href="/admin/studentFeedback" class="btn btn-secondary mt-3">Back</a>
</main>
</body>
</html>
